@import url('https://fonts.googleapis.com/css2?family=Honk&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #772929;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  color: #ddd;
  font-family: 'Jost', sans-serif;
}

.container {
  padding: 16px 0;
  width: 75%;
  height: 90%;
  margin-left: 3%;
  border: 5px solid #511c1c;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 20%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Honk', sans-serif;
  font-size: 38px;
}

.logo img {
  width: 80px;
  height: 80px;
}

main {
  border-radius: inherit;
  height: 60%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.nickname, .rules {
  padding: 12px;
  width: 60%;
  height: 100%;
  border-radius: inherit;
  background-color: #511c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nickname {
  justify-content: space-between;
}

.rules {
  width: 40%;
}

.rules ul {
  list-style-position: inside;
}

.rules ul li {
  text-align: justify;
  margin: 16px 0;
  font-size: 1.2rem;
}

.nickname h2, .rules h2 {
  font-size: 32px;
}

footer {
  height: 10%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

footer nav span:not(:last-child):after {
  content: '|';
  margin: 0 8px;
}