* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a7d7c5;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  color: #a1f4e7;
  font-family: 'Jost', sans-serif;
}

body::selection {
  background-color: #a1f4e7;
  color: #295898;
}

.container {
  padding: 16px 0;
  width: 75%;
  height: 90%;
  margin-left: 3%;
  border: 5px solid #0b132b;
  border-radius: 20px;
  background-color: #002b3a;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container h2 {
  font-size: 32px;
}

.rooms {
  width: 75%;
  height: 60%;
  border-radius: inherit;
  border-bottom: 8px solid #0b132b;
  background-color: #295898;
}

.low-content {
  width: 75%;
  height: 25%;
  border-radius: inherit;
}

.room-info {
  width: 50%;
  height: 100%;
  background-color: #295898;
  border-bottom: 8px solid #0b132b;
  border-radius: inherit;
}