* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4f5d75;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: 'Jost', sans-serif;
}

body::selection {
  background-color: #efd6ac;
  color: #04151f;
}

.container {
  padding: 16px 0;
  width: 75%;
  height: 90%;
  margin-left: 3%;
  border: 3px solid #bfc0c0;
  border-radius: 20px;
  background-color: #04151f;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container h2 {
  font-size: 32px;
}

.rooms {
  width: 75%;
  height: 60%;
  border-radius: inherit;
  border: 2px solid #bfc0c0;
  background-color: #2d3142;
}

.low-content {
  width: 75%;
  height: 25%;
  border-radius: inherit;
}

.room-info {
  width: 50%;
  height: 100%;
  background-color: #2d3142;
  border: 2px solid #bfc0c0;
  border-radius: inherit;
}