* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eb5e28;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fffcf2;
  font-family: 'Jost', sans-serif;
}

body::selection {
  background-color: #fffcf2;
  color: #403d39;
}

.container {
  padding: 16px 0;
  width: 75%;
  height: 90%;
  margin-left: 3%;
  border: 3px solid #ccc5b9;
  border-radius: 20px;
  background-color: #403d39;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container h2 {
  font-size: 32px;
}

.rooms {
  width: 75%;
  height: 60%;
  border-radius: inherit;
  border-bottom: 8px solid #000;
  background-color: #252422;
}

.low-content {
  width: 75%;
  height: 25%;
  border-radius: inherit;
}

.room-info {
  width: 50%;
  height: 100%;
  background-color: #252422;
  border-bottom: 8px solid #000;
  border-radius: inherit;
}